<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.kindnesswall" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".KindnessApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute" >
        <activity android:name="ir.kindnesswall.view.main.charity.Rating.RatingActivity"
            android:exported="true">
        </activity>
        <activity android:name=".view.reviewgift.ReviewGiftsActivity"
            android:exported="true"/>
        <activity android:name=".view.update.ForceAndOptionalUpdateActivity"
            android:exported="true"/>
        <activity android:name=".view.main.more.aboutus.AboutUsActivity"
            android:exported="true"/>
        <activity android:name=".view.main.conversation.chat.ChatActivity"
            android:exported="true"/>
        <activity android:name=".view.main.addproduct.SubmitGiftActivity"
            android:exported="true"/>
        <activity android:name=".view.profile.blocklist.BlockListActivity"
            android:exported="true"/>
        <activity android:name=".view.profile.bookmarks.BookmarksActivity"
            android:exported="true"/>
        <activity android:name=".view.profile.UserProfileActivity"
            android:exported="true"/>
        <activity android:name=".view.filter.FilterActivity"
            android:exported="true"/>
        <activity android:name=".view.category.CategoryActivity"
            android:exported="true"/>
        <activity android:name=".view.main.charity.charitydetail.CharityDetailActivity"
            android:exported="true"/>
        <activity android:name=".view.giftdetail.GiftDetailActivity"
            android:exported="true"/>
        <activity android:name=".view.gallery.GalleryActivity"
            android:exported="true"/>
        <activity android:name=".view.citychooser.CityChooserActivity"
            android:exported="true"/>
        <activity android:name=".view.authentication.AuthenticationActivity"
            android:exported="true"/>
        <activity android:name=".view.main.MainActivity"
            />
        <activity android:name=".view.onbording.OnBoardingActivity"
            android:exported="true"/>
        <activity android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.KindnessWallFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>