<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.kindnesswall" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".KindnessApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute" >
        <activity android:name="ir.kindnesswall.view.main.charity.Rating.RatingActivity" >
        </activity>
        <activity android:name=".view.reviewgift.ReviewGiftsActivity" />
        <activity android:name=".view.update.ForceAndOptionalUpdateActivity" />
        <activity android:name=".view.main.more.aboutus.AboutUsActivity" />
        <activity android:name=".view.main.conversation.chat.ChatActivity" />
        <activity android:name=".view.main.addproduct.SubmitGiftActivity" />
        <activity android:name=".view.profile.blocklist.BlockListActivity" />
        <activity android:name=".view.profile.bookmarks.BookmarksActivity" />
        <activity android:name=".view.profile.UserProfileActivity" />
        <activity android:name=".view.filter.FilterActivity" />
        <activity android:name=".view.category.CategoryActivity" />
        <activity android:name=".view.main.charity.charitydetail.CharityDetailActivity" />
        <activity android:name=".view.giftdetail.GiftDetailActivity" />
        <activity android:name=".view.gallery.GalleryActivity" />
        <activity android:name=".view.citychooser.CityChooserActivity" />
        <activity android:name=".view.authentication.AuthenticationActivity" />
        <activity android:name=".view.main.MainActivity" />
        <activity android:name=".view.onbording.OnBoardingActivity" />
        <activity android:name=".view.splash.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.KindnessWallFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>